# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
**/dist
**/build
**/tmp
**/temp
**/lib
**/.rush
**/.heft
**/*.build.log
**/*.error.log
.eslintcache

# dependencies
**/node_modules/
**/.storybook/node_modules
/node_modules
.yarn

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Runtime data
*.pid
*.seed
*.pid.lock

# Rush temporary files
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc

# docusaurus
.docusaurus

